@import 'libs/_bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');


@import 'base/variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@500;700&display=swap');


h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
    margin-top: 44px;
}

* {
    font-family: 'Lusitana', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 $gutter;
    margin-top: $gutter;
}


@import 'blocks/header';
@import 'blocks/market';
@import 'blocks/footer';
@import 'blocks/social';
@import 'blocks/title';
@import 'blocks/about';
@import 'blocks/descr';
@import 'blocks/comment';
@import 'blocks/basket';
@import 'blocks/cardorder';
@import 'blocks/media';
 //@import 'blocks/content';
@import 'blocks/simplebar';
@import 'blocks/product';
 //@import 'blocks/cart';
@import 'blocks/order';
@import 'blocks/css';
@import 'blocks/modal';
@import 'blocks/burger';