html {
    box-sizing: border-box;
}



.btn {
    border: none;
    padding: 14px 0;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    background-color: var(--color-accent);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}



.content {
    background: url(https://kartinkin.net/uploads/posts/2021-07/thumbs/1626136847_32-kartinkin-com-p-pomyataya-bumaga-tekstura-krasivo-38.jpg)center no-repeat;
    background-size: 100%;
}


.products {
    &-grid {
        display: grid;
        width: 100%;
        grid-column: 3 span;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gutter;
        justify-content: center;
        &__item {
            margin-top: 40px;
            &.active {
                display: none;
            }
            &:hover {
                display: block;
            }   
        }
        li {
            list-style-type: none;
        }
    }
    
    
    
}
.filters {
    position: relative;
    display: none;
    &-price {
        &__input {
            width: 100%;
        }
    }
}

.fixed {
    position: fixed;
    top: $gutter;
    left: 0;
}

// .height {
//     height: 30px;
// }

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}






.fullprice {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: $main-color-dark;
}

.simplebar {
    &-track {
        width: 4px;
        background: rgba(77, 77, 77, 0.1);
        border-radius: 5px;
        margin-top: 20px;
        height: calc(100% - 40px);
        right: 5px;
    }
    &-vertical {
        width: 4px;
        background: rgba(77, 77, 77, 0.1);
        border-radius: 5px;
        margin-top: 20px;
        height: calc(100% - 40px);
        right: 5px;
    }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    background: rgba(77, 77, 77, 0.1);
    border-radius: 5px;
    width: 100%;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    overflow-anchor: none;
}



.image  {
    &-switch{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        display: flex;
        &__item {
            flex-grow: 1;
            cursor: pointer;
            &:first-child {
                opacity: 1;
                z-index: -1;
            }
        }

        &__img {
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            transform: translateX(-50%);
            pointer-events: none;
            background-color: #ffff;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            &:first-child {
                opacity: 1;
                z-index: -1;
            }
            img {
                display: block;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
 
    
    
    
}

.image {
    &-pagination {
        position: absolute;
        z-index: 30;
        left: 0;
        bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        &__item {
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            margin: 0 3px;
            background-color: #c4c4c4;
            &.active {
                background-color: $main-color-accent;
            }
        }
    }
    
    
}


 

 