.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 1140px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 65px;
            
        }
    }  
}

@media (max-width: 1024px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin: 0 auto;
            
        }
        .footer__media iframe {
            margin-left: 0px;
            width: 100%;
        }
        .footer__block {
            grid-template-columns: 487px 433px;
            margin-top: 60px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 300px;
            margin-top: 0px;
        }
        .social__wrapper {
            width: 510px;
            margin-bottom: -83px;
        }
        .height {
            height: 5px;
        }
        .header__cart {
            margin-left: 40px;
            border: 1px solid red;
            border-radius: 5px;
            cursor: pointer;
            left: 40%;
            &:hover {
                background-color: red;
                color: #fff;
                transition: 0.4s;
            } 
        }  
        
    }  
}
@media (max-width: 768px) {
    .container {
        max-width: none;

        .product {
            margin: 0 auto;
        }
        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 0px;
            
        }
        .footer__media {
            justify-content: center;
            text-align: center;
            
        }
        .footer__media iframe {
            width: 600px;
            height: 400px;
        }
        .footer__block {
            grid-template-columns: repeat(1, 2fr);
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(2,383px);
            grid-template-rows: 300px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .social__wrapper {
            width: 100%;
            height: 100%;
        }
        .header__cart {
            left: 18%;
        }
    }
    
}



@media (max-width: 425px) {
    .container {
        max-width: none;

        .product {
            margin-left: 14%;
        }
        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 0px;
            
        }
        .footer__media {
            justify-content: center;
            text-align: center;
            
        }
        .footer__media iframe {
            width: 100%;
            height: 200px;
        }
        .footer__block {
            grid-template-columns: repeat(1, 2fr);
            display: none;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,423px);
            grid-template-rows: 300px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .social__wrapper {
            width: 100%;
            height: 147%;
        }
        .header__cart {
            left: 51%;
        }
    }
    
}

@media (max-width: 375px) {
    .container {
        max-width: none;

        .product {
            margin-left: 9%;
        }
        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 0px;
            
        }
        .footer__media {
            justify-content: center;
            text-align: center;
            
        }
        .footer__media iframe {
            width: 100%;
            height: 200px;
        }
        .footer__block {
            grid-template-columns: repeat(1, 2fr);
            display: none;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,373px);
            grid-template-rows: 300px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .social__wrapper {
            width: 100%;
            height: 158%;
        }
        .header__cart {
            left: 44%;
        }
        .menu__icon {
            left: 23px;
        }
    }
    
}
@media (max-width: 320px) {
    .container {

        .social__block {
            grid-template-columns: repeat(1,313px);
        }
        .product {
            margin-left: 9%;
        }
        .products-grid {
            margin-left: -25px;
        }
        .header__cart {
            left: 35%;
        }
        .menu__icon {
            left: 15px;
        }
        .menu__sub-link {
            font-size: 14px;
            color: #000;
        }
        .menu__link {
            font-size: 20px;
        }
        .fullprice {
            font-size: 18px;
        }
        .cart-content {
            width: 303px;
            top: 111%;
        }
        .cart-product__delete {
            width: 40px;
        }
        .cart-content__btn {
            width: 150px;
        }
    }
}
