.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}


@media (max-width: 1307px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 32px;
            
        }
    }    
}

@media (max-width: 1252px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 46px;
            
        }
    }    
}


@media (max-width: 1200px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 55px;
            
        }
    }  
}

@media (max-width: 1162px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 65px;
            
        }
    }  
}

@media (max-width: 1125px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 81px;
            
        }
    }  
}

@media (max-width: 1074px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 4 span;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 87px;
            
        }
        .height {
            height: 5px;
        }
    }  
}

@media (max-width: 1024px) {
    .container {
        max-width: 970px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 101px;
            
        }
        .footer__media iframe {
            margin-left: -74px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(2,567px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 108px;
        }
        .height {
            height: 5px;
        }
        
    }  
}

@media (max-width: 998px) {
    .container {
        max-width: 767px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 91px;  

        }

        .footer__media iframe {
            margin-left: -141px;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(2,592px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 180px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 134px;
            
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(2,589px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 184px;
        }
    }
    
}
@media (max-width: 860px) {
    .container {
        max-width: 750px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 140px;
            
        }
        .footer__media {
            margin-left: 143px;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1109px);
            grid-template-rows: 300px;
            margin-top: 4px;
            margin-left: 250px;
        }
    }
    
}

@media (max-width: 800px) {
    .container {
        max-width: 750px;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 160px;
            
        }
        .footer__media {
            margin-left: 158px;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1079px);
            grid-template-rows: 300px;
            margin-top: 4px;
            margin-left: 281px;
        }
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: none;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            
        }
        .footer__media {
            margin-left: 177px;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1054px);
            grid-template-rows: 300px;
            margin-top: 4px;
            margin-left: 288px;
        }
    }
    
}

@media (max-width: 714px) {
    .container {
        max-width: none;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 204px;
            
        }
        .footer__media {
            margin-left: 162px;
        }
        .height {
            height: 5px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1054px);
            grid-template-rows: 300px;
            margin-top: 4px;
            margin-left: 342px;
        }
    }
    
}

@media (max-width: 696px) {
    .container {
        max-width: none;

        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 219px;
            
        }
        .img {
            max-width: 137px;
            max-height: 139px;
            
        }
        .height {
            height: 5px;
        }
        .footer__media {
            margin-left: 162px;
        }
        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1054px);
            grid-template-rows: 300px;
            margin-top: 4px;
            margin-left: 360px;
        }
    }
    
}

@media (max-width: 636px) {
    .container {
        max-width: none;

        
        .header__cart {
            margin-left: 0;
        }

        .footer__media iframe {
            margin-left: -82px;
        }

        .footer__media {
            margin-left: 81px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1024px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 394px;
        }
        .height {
            height: 5px;
        }
        .footer__block {
            margin-left: 0px;
        }
        
    }
}

@media (max-width: 576px) {
    .container {
        max-width: none;

        
        .header__cart {
            margin-left: 0;
        }

        .footer__media iframe {
            margin-left: -89px;
        }

        .footer__media {
            margin-left: 81px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1024px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 433px;
        }
        .height {
            height: 5px;
        }
        .footer__block {
            margin-left: 0px;
        }
        
    }
}

@media (max-width: 525px) {
    .container {
        max-width: none;

        
        .header__cart {
            margin-left: 0;
        }

        .footer__media iframe {
            margin-left: -89px;
        }

        .footer__media {
            margin-left: 81px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1024px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 493px;
        }
        .height {
            height: 5px;
        }
        .footer__block {
            margin-left: 0px;
        }
        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 247px;
            
        }
        
    }
}

@media (max-width: 474px) {
    
    .container {
        max-width: none;
        .header__cart {
            margin-left: 0;
        }

        .footer__media iframe {
            margin-left: -89px;
        }

        .footer__media {
            margin-left: 81px;
        }

        .social__block {
            display: grid;
            grid-template-columns: repeat(1,1024px);
            grid-template-rows: 300px;
            /* justify-content: center; */
            margin-top: 4px;
            margin-left: 493px;
        }
        .height {
            height: 5px;
        }
        .footer__block {
            margin-left: 0px;
        }
        .products-grid {
            display: grid;
            grid-column: 3 span;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $gutter;
            padding-top: 165px;
            margin-left: 275px;
            
        }

        .nav__list {
            display: flex;
            align-items: center;
            
            margin-left: 64px;
            color: #fff;
        }

        .nav__item:not(:first-child) {
            margin-right: 60px;
            display: none;
        }
        
        
    }
}

