.title {
    &__header {
        font-size: 28px;
        line-height: 33px;
        font-weight: 500;
        color: #000;
        padding-top: 45px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 990px;
        grid-template-rows: auto;
    }
    &__descr {
        padding-top: 25px;
        font-size: 22px;
        line-height: 26px;
        color: #828282;
    }
    &__contact {
        
        img {
            margin-left: 9px;
            margin-top: -5px;
            cursor: pointer;
            }
    }
    &__btn {
        width: 167px;
        height: 53px;
        background-color: $main-color;
        color: #fff;
        border: none;
        border-radius: 5px;
        &:hover {
            box-shadow: 3px 3px 20px;
            color: #4F4F4F;
        }
        &:active {
            color: #fff;
            background-color: $main-color;
            border: none;
            
            
        }
            
        &:focus {
            background-color: $main-color;
            width: 167px;
            height: 53px;
            border: #fff;
            outline: none;
        }
    }
        
    &__link {
        margin-left: 60px;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
        color: $main-color;
        a {
            color: $main-color;
        }
    }
    &__textarea {
        position: relative;
        textarea {
            width: 672px;
            height: 174px;
            padding: 0 20px;
            font-size: 12px;
            resize: none;
        }
        
    }
        
        
    
}